
.unit_title {
	font-family: KozGo;
	color: gray;
	font-size: 16px;
	height: 20px;
	text-align: left center;
	line-height: 20px;
	margin-right: 20px;
	display: inline-block;
}

.image_cell{
	vertical-align:top;
}
.image_block{
	margin-top: 10px;
	display: inline-block;
	vertical-align:top;
}
