
.unit_title {
	font-family: KozGo;
	color: gray;
	font-size: 16px;
	height: 20px;
	text-align: left center;
	line-height: 20px;
	width: 250px;
	margin-right: 20px;
	display: inline-block;
}

.unit_graph {
	display: inline-block;
	width: 250px;
	margin-right: 20px;
}

.image_cell{
	vertical-align:top;
}
#media {
	font-family: KozGo;
	color: gray;
	font-size: 16px;
	text-align: left;
	height: 100px;
	text-align: left;
	width: 600px;
	display: inline-block;
}

