@font-face{
	font-family: "KozGo";
	src:url('../font/KozGoPro-Regular.otf'), url('../font/KozGoPro-Bold.otf'), 
		url('../font/KozGoPro-ExtraLight.otf'), url('../font/KozGoPro-Light.otf'),
		url('../font/KozGoPro-Heavy.otf'), url('../font/KozGoPro-Medium.otf');
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


.active_list{
	visibility: hidden;
	position:absolute;
	background:white;
	right:203px;
	top:105px;
	z-index: 1;
}

.active_list > a:link{
	text-decoration: none;
	color: black;
}

.active_list > a:visited{
	text-decoration: none;
	color: black;
}

#header {
	margin-top: 20px;
	width: 1140px;
	height: 100px;
}

.active_list_item {
	width: 100px;
	height: 35px;
	text-align: center;
	line-height: 35px;
}

.active_list_item:hover{
	color:white;
	background-color: black;
}

.active_list_item > a{
	text-decoration = none;
}

.category_bar {
	width: 100px;
	height: 5px;
	position: relative;
	margin-left: 25px;
	background-color: #c2c2c2;
}

.category_bar:hover{
	background-color: black;
}

.top_category {
	width: 150px;
	height:50px;
	margin-top: 50px;
	font-size: 16px;
	line-height: 20px;
	display: inline-block;
	vertical-align: bottom;
}

.top_category_item{
	text-align: center;
	font-family: KozGo;
	color: gray;
}
