@font-face{
	font-family: "KozGo";
	src:url('../font/KozGoPro-Regular.otf');
}

#map_content{
	margin-top: 100px;
}

#detail_info{
	height:150px;
	margin-bottom:10px;
}

.detail_info_name {
	font-family: KozGo;
	font-size: 18px;
	color: gray;
	font-weight: bold;
	line-height: 30px;
	vertical-align: middle;
}

.detail_info_address {
	font-family: KozGo;
	font-size: 14px;
	color: gray;
	line-height: 25px;
	vertical-align: middle;
}

.detail_info_website {
	font-family: KozGo;
	font-size: 14px;
	line-height: 25px;
	vertical-align: middle;
	color: black;
}

.detail_info_website > a:link {
	color: black;
}

.detail_info_website > a:visited {
	color: black;
}

.detail_info_website > a:hover {
	color: black;
	font-weight: bold;
}

#gallery{
	height:290px;
}
.gallery_detail_info{
	position:absolute;
	visibility: hidden;
	width:300px;
	height:150px;
}
#gallery_marker_1{
	position:absolute;
	left:100px;
	top:80px;
}
#gallery_marker_2{
	position:absolute;
	left:65px;
	top:150px;
}
#gallery_marker_3{
	position:absolute;
	left:65px;
	top:85px;
}
#gallery_marker_4{
	position:absolute;
	left:55px;
	top:370px;
}
#gallery_marker_5{
	position:absolute;
	left:125px;
	top:175px;
}
#gallery_marker_6{
	position:absolute;
	left:330px;
	top:75px;
}
#gallery_marker_7{
	position:absolute;
	left:340px;
	top:270px;
}
#gallery_marker_8{
	position:absolute;
	left:465px;
	top:150px;
}
#gallery_marker_9{
	position:absolute;
	left:495px;
	top:160px;
}
#gallery_marker_10{
	position:absolute;
	left:525px;
	top:155px;
}
#gallery_marker_11{
	position:absolute;
	left: 424px;
	top: 230px;
}
#gallery_marker_12{
	position:absolute;
	left:330px;
	top:180px;
}
#gallery_marker_13{
	position: absolute;
	left: 554px;
	top: 235px;
}
#gallery_marker_14{
	position:absolute;
	left: 585px;
	top: 244px;
}
#gallery_marker_15{
	position:absolute;
	left: 670px;
	top: 160px;
}
#gallery_marker_16{
	position:absolute;
	left: 735px;
	top: 205px;
}
#gallery_marker_17{
	position:absolute;
	left: 602px;
	top: 365px;
}
#gallery_marker_18{
	position:absolute;
	left: 700px;
	top: 255px;
}
#gallery_marker_19{
	position:absolute;
	left: 375px;
	top: 210px;
}
#gallery_marker_20{
	position:absolute;
	left: 453px;
	top: 229px;
}
#gallery_marker_21{
	position:absolute;
	left: 654px;
	top: 374px;
}
#gallery_marker_22{
	position:absolute;
	left: 769px;
	top: 308px;
}
#gallery_marker_23{
	position: absolute;
	left: 479px;
	top: 192px;
}
#info_interface{
	position:relative;
	width:300px;
	height:450px;
	margin-left:35px;
	display: inline-block;
	vertical-align:top;
}
.info_item{
	font-family:KozGo;
	font-size:10pt;
	width:140px;
	height:23px;
	display: inline-block;
	color:black;
	cursor:pointer;
}
.info_item:hover{
	font-weight:bold;	
}
.info_item_chosen{
	color: #ed1e79;
	font-weight: bold;
}
.info_item_number{
	height:16px;
	width:16px;
	color:white;
	background:black;
	border:1px solid black;
	border-radius:50%;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	line-height:17px;
	margin-right:4px;
	font-size:9pt;
}
#map{
	position:relative;
	width:800px;
	height:450px;
	background: url(../img/tadmap.png);
	background-size:cover;
	display: inline-block;
	vertical-align:top;
}
.marker{
	width:20px;
	height:30px;
	background: url(../img/mapmark.png);
	background-size:cover;
	text-align: center;
	font-size: 9pt;
	font-family: KozGo;
	line-height: 20px;
	cursor:pointer;
	color: white;
}
.marker_chosen{
	 -webkit-filter: hue-rotate(90deg);
}
.marker:hover{
	 transform: scale(1.2);
}