@font-face{
	font-family: "浙江民間書刻體"
<<<<<<< HEAD
	src:url('/TAD Fest(浙江民間書刻體.ttf');
=======
	src:url('font(浙江民間書刻體.ttf');
>>>>>>> FETCH_HEAD
}

body{
	
}


#content_wrapper{
	margin: 0px auto;
	width:1140px;
}

#header {
	margin-top: 20px;
	width: 1140px;
	height: 100px;
}

#index_slideshow {
	width: 1140px;
	height: 500px;
	margin-top: 30px;
	background-color: gray;
}

#logo {
	width: 300px;
	margin-right: 200px;
	display: inline-block;
}


.chinese_category {
	height: 50px;
	text-align: center;
	font-family: Microsoft JhengHei, 浙江民間書刻體;
}

.english_category{
	height: 50px;
	text-align: center;
	font-family: helvetica;
}

.top_category {
	width: 150px;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	display: inline-block;
	margin-top: 20px;
}