@font-face{
	font-family: "浙江民間書刻體"
	src:url('/Users/SteffYang/Desktop/Work/TAD Fest(浙江民間書刻體.ttf');
}


#header {
	margin-top: 20px;
	width: 1140px;
	height: 100px;
	position: relative;
}

#index_slideshow {
	width: 1140px;
	height: 500px;
	margin-top: 30px;
	background-color: gray;
	position: relative;
}

#logo {
	width: 300px;
	margin-right: 200px;
	display: inline-block;
}


.chinese_category {
	height: 50px;
	text-align: center;
}

.english_category{
	height: 50px;
	text-align: center;
}

.top_category {
	width: 150px;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	display: inline-block;
	margin-top: 20px;
}