@font-face{
	font-family: "KozGo"
	src:url('font(KozGoPro-Regular.otf');
}
#abouts_figure {
	display: inline-block;
	margin-top: 100px;
	margin-right: 40px;
}

#abouts_figure > img{
	height: 899px;
	width: 600px;
}

#abouts_content {
	height: 899px;
	width: 480px;
	margin-top: 100px;
	font-family: KozGo;
	color: gray;
	font-size: 20px;
	display: inline-block;
}

#abouts_content > span {
	margin-bottom: 20px;
}


#content_wrapper{
	position: relative;
	margin: 0px auto;
	width: 1140px;
}


#facebook_content {
	width: 450px;
	height: 400px;
	margin-top: 20px;
	background-color: gray;
	display: inline-block;
}

#facebook_title{
	border-bottom-width: 2px;
	border-bottom-color: gray;
	border-bottom-style: solid;
	font-family: KozGo;
	font-weight: bold;
	color: black;
	text-align: center;
	width: 450px;
	height: 30px;
	margin-top: 50px;
	font-size: 24px;
	display: inline-block;
}


#index_slideshow {
	width: 1140px;
	height: 494px;
	margin-top: 50px;
	background-color: #15191f;
}

#logo {
	width: 300px;
	margin-right: 200px;
	display: inline-block;
}

#media {
	font-family: KozGo;
	color: gray;
	font-size: 16px;
	text-align: left;
	height: 100px;
	border-left-width: 1px;
	border-left-color: gray;
	border-left-style: solid;
	text-align: left;
	width: 600px;
	display: inline-block;
}

#news_content {
	width: 610px;
	height:400px;
	margin-top: 50px;
	background-color: gray;
	margin-right: 30px;
	display: inline-block;
}

#news_title {
	border-bottom-width: 2px;
	border-bottom-color: gray;
	border-bottom-style: solid;
	font-family: KozGo;
	font-weight: bold;
	color: black;
	text-align: center;
	width: 610px;
	margin-right: 30px;
	font-size: 24px;
	height: 30px;
	margin-top: 30px;
	display: inline-block;
}

#subscription_text {
	font-size: 24px;
	font-family: KozGo;
	font-weight: bold;
	text-align: right;
	margin-right: 10px;
	color: black;
	height: 30px;
	width: 150px;
	display: inline-block;
}

#subscription_function {
	height: 30px;
	width: 500px; 
	background-color: gray;
	display: inline-block;
}

.date_news {
	background-color: #15191f;
	width: 300px;
	height: 50px;
}

.date_news > div{
	font-size: 24px;
	color: white;
	font-family: KozGo;
	display: inline-block;
}

.news_title{
	font-family: KozGo;
	color: #15191f;
	font-size: 48px;
}

.subscription {
	display: inline-block;
	margin-top: 50px;
	margin-left: 190px;
	margin-right: 190px;
}

.top_category {
	width: 150px;
	text-align: center;
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	border-left-width: 1px;
	border-left-color: gray;
	border-left-style: solid;
}

.units {
	display: inline-block;
	font-family: KozGo;
	color: gray;
	font-size: 16px;
	text-align: left;
	height: 100px;
	border-left-width: 1px;
	border-left-color: gray;
	border-left-style: solid;
	text-align: left;
	width: 250px;
	margin-right: 20px;
}

/*Bullet Navigator Skin*/
/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
	background: url(img/slider/b05.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb05 div {
	background-position: -7px -7px;
}

	.jssorb05 div:hover, .jssorb05 .av:hover {
		background-position: -37px -7px;
	}

.jssorb05 .av {
	background-position: -67px -7px;
}

.jssorb05 .dn, .jssorb05 .dn:hover {
	background-position: -97px -7px;
}

/*Arrow Navigator Skin Begin*/
/* jssor slider arrow navigator skin 12 css */
/*
.jssora12l              (normal)
.jssora12r              (normal)
.jssora12l:hover        (normal mouseover)
.jssora12r:hover        (normal mouseover)
.jssora12ldn            (mousedown)
.jssora12rdn            (mousedown)
*/
.jssora12l, .jssora12r, .jssora12ldn, .jssora12rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(img/slider/a12.png) no-repeat;
	overflow: hidden;
}

.jssora12l {
	background-position: -16px -37px;
}

.jssora12r {
	background-position: -75px -37px;
}

.jssora12l:hover {
	background-position: -136px -37px;
}

.jssora12r:hover {
	background-position: -195px -37px;
}
.jssora12ldn {
	background-position: -256px -37px;
}

.jssora12rdn {
	background-position: -315px -37px;
}


